<h2><%= @figure.name %></h2>

  <h3>Landmark(s):</h3>
  <ul>
  <p><% @figure.landmarks.each do |landmark| %>
    <li>  <%= landmark.name %></li>
      <% end %>
    </ul>



    <h3>Title(s):</h3>
    <ul>
    <p><% @figure.titles.each do |title| %>
      <li>  <%= title.name %></li>
        <% end %>
      </ul>
Contact GitHub API Training Shop Blog About
